<component name="ArtifactManager">
  <artifact type="war" name="Spring_Car_Rental_System:war">
    <output-path>$PROJECT_DIR$/BackEnd/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Spring_Car_Rental_System</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Spring_Car_Rental_System-1.0.0.war">
      <element id="artifact" artifact-name="Spring_Car_Rental_System:war exploded" />
    </root>
  </artifact>
</component>