<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_Car_Rental_System:war exploded">
    <output-path>$PROJECT_DIR$/BackEnd/target/Spring_Car_Rental_System-1.0.0</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>Spring_Car_Rental_System</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_Car_Rental_System" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/BackEnd/target/Spring_Car_Rental_System-1.0.0/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Spring_Car_Rental_System/web/Web" />
    </root>
  </artifact>
</component>